* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height:100%;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.popup {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0px;
    z-index: 10000;
    background-color: #ffffff;
    display: none;
    border-radius: 10px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.popup__header {
    background-color: #FF9976 ;
    width: 100%;
    line-height: 50px;
    color: #fff;
    height: 50px;
    padding: 0px 30px 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 13px;
    position: relative;
    cursor: move;
}

.popup__header-text {
    width: 90%;
}

.popup__input,
.popup__input,
.popup__textarea {
    border-radius: 10px;
    height: 26px;
    outline: none;
    border: none;
    width: 271px;
    font-size: 12px;
    padding: 0px 7px;
    width: 100%;
    border: 2px solid #aeaeae;
    margin-bottom: 5px;
}

.popup__textarea {
    padding-top: 5px;
    resize: none;
    height: 50px;
}

.popup__main {
    height: 350px;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.save__btn {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #ff8663;
    float: right;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    border: none;
}

.popup__main-add-header {
    color: #FF9976;
    font-family: 'Fira Sans', sans-serif;
}

.popup__main-reviews {
    height: 150px;
    overflow: auto;
}

.popup__input::-webkit-input-placeholder {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}
.popup__input::-moz-placeholder          {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}/* Firefox 19+ */
.popup__input:-moz-placeholder           {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}/* Firefox 18- */
.popup__input:-ms-input-placeholder      {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}

.popup__textarea::-webkit-input-placeholder {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}
.popup__textarea::-moz-placeholder          {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}/* Firefox 19+ */
.popup__textarea:-moz-placeholder           {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}/* Firefox 18- */
.popup__textarea:-ms-input-placeholder      {color:#aeaeae; font-size: 12px; font-family: 'Fira Sans', sans-serif;}

.review__list-content {
    color: #aeaeae;
}

.btn-close {
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
}